<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap" rel="stylesheet">
  
    <link rel="stylesheet" href="./css/meetRoom.css">

    <link rel="stylesheet" href="./css/emojionearea.min.css">

    <script src="https://kit.fontawesome.com/648f6f191c.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="upper_div">
        <img src="./images/logo_sm.png" alt="" class="logo_img"> 

        <div class="video_streaming_div" id="video_streaming_div">           
            <div class="local_stream_div">
                <video class='local_video' id='local_video' muted autoplay></video>
            </div>
            <div id='video_placeholder' class='remote_stream_div'>
            </div>
            <video class='remote_video display_none' autoplay id='remote_video'></video>  
            
            <div class='display_none' id='video_recording_buttons'>
                <div class="video_recording_buttons_container">
                    <button id='pause_recording_button'>
                        <img src='./images/pause.png'></img>
                    </button>
                    <button id='resume_recording_button' class='display_none'>
                        <img src='./images/resume.png'></img>
                    </button>
                    <button id='stop_recording_button'>
                        Stop recording
                    </button>
                </div>                
            </div>
        </div>

        <button class="call_button <%=newMeetingDisplay%>" id="get_personal_code">
            <i class="fas fa-info-circle"></i>
        </button> 

        <div class="chat_div display_none" id="chat_div">
            <div class='messages_container' id='messages_container'></div>
            <div class='new_message_container display_none' id='new_message'>
                <input class='new_message_input' id='new_message_input' type='text' placeholder="Type your message..."></input>
                <button class='send_message_button' id='send_message_button'>
                    <img class='send_message_button_image' src='./images/sendMessageButton.png'></image>
                </button>
            </div>
        </div>
        
    </div>

    <div class="footer_div">
        <p id="meeting_time">00:00</p>

        <div class="meet_buttons">
            <div class="left_meet_buttons" id="call_buttons_left">
                <button class="call_button" id="mic_button">
                    <img src="./images/mic.png" alt="" id="mic_button_image">
                </button>
                <button class="call_button" id="camera_button">
                    <img src="./images/camera.png" alt="" id="camera_button_image">
                </button>
                <button class="call_button" id="screen_sharing_button">
                    <img src="./images/screenShareOff.png" alt="" id="screen_share_button_image">
                </button>
                <button class="call_button" id="start_recording_button">
                    <img src="./images/recordingStart.png" alt="">
                </button>
            </div>
            <div class="right_meet_buttons" id="call_buttons_right">
                <button class="call_button" id="call_chat_button">
                    <i class="fas fa-comment-alt"></i>
                </button>
                <a href="/">
                    <button class="hangup_call_button" id="hang_up_button">
                        <img src="./images/hangUp.png" alt="">
                        <p>Leave</p>
                    </button>
                </a>            
                 
            </div>
            <div class="right_meet_buttons display_none" id="finish_chat_button_container">
                <a href="/">
                    <button class='hangup_call_button' id='finish_chat_call_button'>
                        <img src='./images/hangUp.png'></img>
                        <p>Leave</p>
                    </button>
                </a>
                
            </div>
        
        </div>
    </div>

    <div id="dialog">
        <div class="dialog_box" id="meeting_id_box">
            <div class = "dialog_content">
                
                <button class="close_dialog_button" id="close_dialog_button">X</button>

                <div class='meeting_code_div <%=newMeetingDisplay%>'>
                    <p class='dialog_box_heading '>
                        Your personal meeting code
                    </p>
                    <div class="dialog_box_value">
                        <p class='' id='personal_code_paragraph'>personal code</p>
                        <button class='personal_code_copy_button' id='personal_code_copy_button'>
                            <i class="fas fa-copy"></i>
                        </button>
                    </div>
                </div>

                <div class='meeting_code_div <%=joinMeetingDisplay%>'>
                    <p class='dialog_box_heading '>
                        Enter Meeting Code
                    </p>
                    <div class="dialog_box_value">
                        <input type="text" class="personal_code_input" id="personal_code_input">
                    </div>
                </div>

                <div class="dialog_buttons_div">
                    <button class='green_connecting_button <%=joinChatBtnDisplay%>' id='personal_code_chat_button'>
                        Join chat Now
                    </button>
                    <button class='green_connecting_button <%=joinMeetingBtnDisplay%>' id='personal_code_video_button'>
                        Join Meeting Now
                    </button>
                </div>

            </div>
        </div>
    </div>    
    
    <div id="trick_box" class="<%=callType%>">
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script src='./js/meetRoom.js'></script>

    <script src='/socket.io/socket.io.js'></script>
    <script src="./js/emojionearea.min.js"></script>
    <script src="./js/recordingUtils.js" type="module"></script>
    <script src='./js/constants.js' type='module'></script>
    <script src="./js/elements.js" type="module"></script>
    <script src='./js/wss.js' type='module'></script>
    <script src='./js/ui.js' type='module'></script>
    <script src='./js/store.js' type='module'></script>
    <script src='./js/webRTCHandler.js' type='module'></script>
    <script src='./js/main.js' type='module'></script>
    
</body>

</html>